DATABASE_URL='Your Connection String here'
#Server
PORT=3000

BASE_URL=http://localhost:3000
LOCAL_URL=http://localhost:3000
APP_URL=http://localhost:5000


#JWT
JWT_ACCESS_TOKEN_SECRET='Your Jwt Access Token Secret'

JWT_REFRESH_TOKEN_SECRET='Your Jwt Refresh Token Secret'

JWT_ACCESS_EXPIRY=15m

JWT_REFRESH_EXPIRY=30d

#Bcrypt
BCRYPT_SALT_ROUNDS=10

#SSL
SSL_STORE_ID='Your Sandbox Store Id'
SSL_STORE_PASSWORD='Your Sandbox Store Password'